{% extends "base1.html" %}
{% block content%}
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static/assets/img/01.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Bicycle traffic violations</h2>
                    <p>
                        Pedestrian Road Violation,
                        No Helmet,
                        Jaywalking,
                        Signal Violation,
                        Stop Line Violation,
                        Crosswalk Violation
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static/assets/img/02.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Kickboard traffic violations</h2>
                    <p> Pedestrian Road Violation,
                        No Helmet,
                        Jaywalking,
                        Signal Violation,
                        Crosswalk Violation,
                        Passenger Violation</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="static/assets/img/03.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Motocycle traffic violations</h2>
                    <p>Pedestrian Road Violation,
                       No Helmet,
                       Jaywalking,
                       Signal Violation,
                       Stop Line Violation,
                       Crosswalk Violation</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}